[Unit]
Description=Elasticsearch importer for AMiner

[Service]
Type=simple
User=aminer
Group=aminer
ExecStart=/usr/lib/aelastic/aelasticd.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
