[Unit]
Description=Elasticsearch importer for AMiner

[Service]
Type=simple
User=aminer
Group=aminer
ExecStart=/usr/lib/logdata-anomaly-miner/aelastic_daemon.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
